body {
background-color: rgb(3, 1, 31);
color:rgb(7, 194, 13);

font-family:"Edu VIC WA NT Hand Pre", cursive; 

margin: 0px;
}

h1{
font-size: 30px;
color: rgb(218, 204, 10);
}

p{
font-size: 25px;
color: rgb(255, 255, 255);
}

header {
    font-size: 60px;
    border-bottom: solid 5px;
    padding: 30px;
    color: aliceblue;
    text-align: center;
}