body {
background-color: rgb(3, 1, 31);
color:rgb(7, 194, 13);

font-family:"Edu VIC WA NT Hand Pre", cursive; 

margin: 0px;
}

h1{
font-size: 30px;
margin-top: 0px;
color: rgb(218, 204, 10);
}

p{
font-size: 25px;
color: rgb(216, 248, 228);
}

header {
    font-size: 40px;
    border-bottom: solid 5px;
    padding: 30px;
    color: rgb(24, 173, 24);
    text-align: center;
}

section {
    background-color: rgb(6, 56, 71);
    padding-top: 80px;
    padding-bottom: 80px;

display: flex;
justify-content: center;
}

.chamada-texto {
    margin-right: 10px;
}

img{
    width: 300px;
    height: 200px;
}