body {
background-color: rgb(3, 1, 31);
color:rgb(112, 209, 116);
font-family:"Edu VIC WA NT Hand Pre", cursive; ;
}
h1{

margin:0px;

font-size: 40px;
}

p{
font-size: 20px;
}

header {
    font-size: 60px;
    border-bottom: inset 5px #08d33b;
    padding: 30px;
    color:rgb(241, 207, 9);
    text-align: center;
}